#row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
}

#column_left, #column_right {
    width: 50%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

#column_left {
    background-color: rgb(255 255 255);
    justify-content: center;
    border-right: 5px solid #ececec;
}

#column_right {
    justify-content: space-between;
}

.cont_but {
    font-size: medium;
    width: 60%;
    padding: 10px;
    text-align: center;
}

#add-button {
    font-size: medium;
    width: 10%;
    padding: 10px;
}

#publish {
    font-size: medium;
    display: flex;
    flex-direction: row;
    margin: 5%;
    gap: 10px;
}

#questions {
    margin: 10px;
    overflow-y: auto;
    flex-grow: 1;
    width: 98%;
    justify-content: center;
    align-items: center;
    max-height: 400px;
}

.infinite-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {
    #row {
        flex-direction: column;
    }

    #column_left, #column_right {
        width: 100%;
        min-height: auto;
    }

    .cont_but, #add-button {
        width: 80%;
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: smaller;
    }
    .box {
        width: 100%;
        font-size: 20px;
    }

    #publish {
        margin: 0px;
        flex-direction: column;
        align-items: center;
    }

    .cont_but {
        font-size: 12px;
        padding: 5px 10px;
        width: 100%;
    }
}
