body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#body {
    padding: 40px
}

button {
    align-items: center;
    background-color: rgb(92, 95, 255);
    border-color: unset;
    border-radius: 10px;
    border-style: unset;
    color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

button:hover {
    background-color: rgb(34, 36, 115);
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}