.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 10 20px;
    align-items: center;
  }
  
  #edit-button {
    margin-left: auto;
    width: 10%;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    padding: 10px;
    font-size: smaller;
  }

  #delete-button {
    margin-left: auto;
    width: 10%;
    background: none;
    border: none;
    color: #ff4444;
    font-size: 1.5em;
    cursor: pointer;
    padding: 0 10px;
  }

  #copy-button {
    margin-left: auto;
    width: 30%;
    background: none;
    border: none;
    color: #48c344;
    cursor: pointer;
    padding: 0 10px;
    font-size: medium;
  }

  #copy-button:hover {
    border-radius: 20px;
    border: 2px solid black;
  }
  
  #delete-button:hover {
    color: #cc0000;
  }
  
  .quiz-header {
    display: flex;
    align-items: center;
  }

  .quiz-block {
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 15px;
    background: #fff;
    width: 100%;
    font-size: medium;
  }

  #back-button{
    font-size: medium;
    width: 30%;
  }
  
  .quiz-header {
    padding: 4px 8px;
    width: 95%;
    font-size: medium;
    background: #f8f9fa;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    transition: background 0.2s;
    border-radius: 10px;
  }
  
  
  .toggle-icon {
    font-size: 0.9em;
    color: #666;
  }
  
  .fillers-container {
    padding: 10px 20px;
    width: 70%;
  }
  
  .filler-block {
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 15px;
    margin: 10px 0;
    background: #fcfcfc;
  }
  
  .filler-properties {
    margin-bottom: 10px;
  }
  
  .property-row {
    margin: 5px 0;
    font-size: 0.95em;
  }
  
  #scoreSection {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    border-top: 1px dashed #eee;
  }
  
  #score-value {
    font-weight: bold;
    color: #2ecc71;
    font-size: 1.1em;
  }