#header {
    display: flex;
    background-color: rgb(92, 95, 255);
    justify-content: flex-end;
    align-items: center;
}

#login {
    display: flex;
    justify-content: flex-end;
    width: 5%;
    margin-left: 5%;
}

@media (max-width: 500px) {
    #login {
        display: flex;
        justify-content: flex-end;
        width: 100px;
        margin-left: 0%;
        width: 50px;
    }

    #header {
        justify-content: center;
    }
  }
