#row {
    display: flex;
    width: 100%;
    height: 88vh;
}

#column_left {
    width: 50%;
    height: 100%;
    background-color: rgb(132, 203, 236);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    position: relative;
}


#column_right {
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.cont_but {
    font-size: medium;
    width: 50%;
}

#publish {
    font-size: medium;
    display: flex;
    flex-direction: row;
    margin: 5%;
}

#questions {
    margin: 10px;
    overflow-y: scroll;
    flex-grow: 0;
    width: 98%;
    margin: 2px;
    justify-content: center;
    align-items: center;
}



@media (max-width: 600px) {
    h1 {
        font-size: smaller;
    }
    .box {
        width: 100%;
        font-size: 20px;
    }

    #publish {
        margin: 0px;
    }

    .cont_but {
        font-size: 12px;
        padding: 5px 10px;
    }
}
